*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.content-box-component {
    box-sizing: content-box;
}

body {
    margin: 0;
    padding: 40px 0 0 0;

    font-family: "Open Sans light", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    color: #595959;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}



.container{
    width: 1200px;

    padding: 0 20px;
    margin: 0 auto;
}


.js-show{
    display: block !important;
}


.hidden{
    display: none !important;
}

/* Стиль кнопки и анимация к ней */


.button{
    display: block;

    width: max-content;

    font-size: 18px;
    line-height: 24px;

    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);

    font-weight: 700;

    letter-spacing: 3.5px;

    padding: 9px 44px;

    background-image: linear-gradient(transparent 0%, transparent 40%,#f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%);
    background-color: transparent;    

    outline: none;
    border: none;
    
}

.button:hover,
.button:focus{
    animation-name: ButtonBG;
    animation-duration: 150ms;
    animation-fill-mode: both;
}

@keyframes ButtonBG{
    0% {
        background-image: linear-gradient(transparent 0%, transparent 40%,#f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%);
    }
    20% {
        background-image: linear-gradient(transparent 0%, transparent 35%,#f0c52e 35%, #f0c52e 65%, transparent 65%, transparent 100%);
    }
    40% {
        background-image: linear-gradient(transparent 0%, transparent 30%,#f0c52e 30%, #f0c52e 70%, transparent 70%, transparent 100%);
    }
    60% {
        background-image: linear-gradient(transparent 0%, transparent 20%,#f0c52e 20%, #f0c52e 80%, transparent 80%, transparent 100%);
    }
    80% {
        background-image: linear-gradient(transparent 0%, transparent 10%,#f0c52e 10%, #f0c52e 90%, transparent 90%, transparent 100%);
    }
    100% {
        background-image: linear-gradient(transparent 0%, transparent 0%,#f0c52e 0%, #f0c52e 100%, transparent 100%, transparent 100%);
    }
}



h2{
    margin: 0;

    margin-bottom: 30px;
    font-size: 47px;
    line-height: 56px;

    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 1);
}

.headline3{
    font-size: 18px;
    line-height: 24px;

    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);

    font-weight: 700;

    letter-spacing: 3.5px;
}


title{
    font-family: "Open Sans light", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #595959;

    border: none;
    background-color: #e2e2e2;
}