footer.main-footer
    .container
        section.main-footer__user-nav
            a.main-footer__logo(href="index.html")
                include ../img/Footer/logo.svg
            nav.user-links
                .user-links__login-wrap
                    a.user-links__link(href='catalog.html')
                        include ../img/svg/user.svg
                        | Войти
                    a.visually-hidden.user-links__logout(href='#') Выйти
                a.user-links__link(href='#')
                    include ../img/svg/compare.svg 
                    | Сравнить
                a.user-links__link(href='')
                    include ../img/svg/cart.svg
                    | Корзина
        section.main-footer__info-nav
            p.main-footer__address г. Москва, ул. Строителей, 15
            nav.main-footer__main-nav
                ul.main-footer__list
                    li.main-footer__item
                        a.main-footer__link(href="delivery.html") Доставка
                    li.main-footer__item
                        a.main-footer__link(href="garant.html") Гарантия
                    li.main-footer__item
                        a.main-footer__link(href="contacts.html") Контакты
            a(href='tel:+74954959595') Тел.: +7 (495) 495-95-95
        section.main-footer__social-and-authors
            .main-footer__decorate-block
            ul.social
                li.social__item
                    a(href="https://www.facebook.com/")
                        img(src="../img/Footer/Facebook.svg", alt="Facebook")
                li.social__item
                    a(href="https://www.instagram.com/")
                        img(src="../img/Footer/Instagram.svg", alt="instagram")
                li.social__item
                    a(href="https://www.twitter.com/")
                        img(src="../img/Footer/Iwitter.svg", alt="Twitter")
            .main-footer__autors-wrap
                a.main-footer__author-link(href="https://github.com/Muratovnik")
                    include ../img/Footer/muratovnik.svg
                a.main-footer__author-link(href="https://htmlacademy.ru/")
                    include ../img/Footer/logo-html.svg
