.container
    h2.visually-hidden
        | Слайдер
    ul.slider-list
        li.slider-item.first-item
            .slider-img.slider-coloumn-img
                img(src="img/MainContent/Sliders/slider-1.png" alt="Селфи-палка")  
            section.slider__description.slider-coloumn
                p.slider-description.slider-coloumn
                    | Делай селфи 
                    br
                    | как Бен Стиллер!
                p.slider-description-text
                    | Самая длинная палка для селфи доступна в нашем магазине.
                    br
                    | Восемь (Восемь, Карл!) метров длиной и весом всего 5 килограмм.
                a.button(href='#')  
                    | Подробнее
            section.featuries
                table.featuries-list
                    tr.featuries-item
                        td.item-element-padding
                            | 8,5 м
                        td.item-element-padding
                            | 5 кг
                        td.item-element-padding
                            | Карбон
                    tr.featuries-item        
                        th.item-element-padding Длина палки
                        th.item-element-padding Вес палки
                        th.item-element-padding Материал
        li.slider-item.hidden.second-item
            .slider-img.slider-coloumn-img
                img(src="img/MainContent/Sliders/slider-2.png" alt="Селфи-палка")
            section.slider__description.slider-coloumn
                p.slider__desctiption-losung
                    | Худеем
                    br
                    | правильно!
                p.slider__desctiption-text
                    | Мотивирующие фитнес-браслеты помогут найти в себе силы
                    br
                    | не пропускать занятия и соблюдать диету.
                a.button.slider__button(href="#") Подробнее
                section.featuries
                    table.featuries-list
                        tr.featuries-item
                            td.item-element-padding 48 часов
                        tr.featuries-item
                            th.item-element-padding Без подзарядки
        li.slider-item.hidden.third-item
            .slider-img.slider-coloumn-img
                img(src="img/MainContent/Sliders/slider-3.png" alt="Селфи-палка")
            section.slider__description.slider-coloumn
                p.slider__desctiption-losung
                    | Порхает как бабочка,
                    br
                    | жалит как пчела!
                p.slider__desctiption-text
                    | Этот обычный, на первый взгляд, квадрокоптер оснащен
                    br
                    | мощным лазером, замаскированным под стандартную камеру.
                a.button.slider__button(href="#") Подробнее
            section.featuries
                table.featuries-list
                    tr.featuries-item
                        td.item-element-padding 800 м
                        td.item-element-padding 50 м
                    tr.featuries-item
                        th.item-element-padding Дальность полета
                        th.item-element-padding Радиус поражения
        .slider-control
            //
                <button class="slider-switch" type="button" onclick="slide(1)"></button>
                <button class="slider-switch" type="button" onclick="slide(2)"></button>
                <button class="slider-switch" type="button" onclick="slide(3)"></button>