
* {
    &:before,
    &:after {
        box-sizing: inherit;
    }
}


html {
    box-sizing: border-box;
}

.content-box-component {
    box-sizing: content-box;
}

body {
    margin: 0;
    padding-top: 40px;

    @include font($font_open-sans);
    color: #595959;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}


.container{
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.js-show{
    display: block !important;
}
.hidden{
    display: none !important;
}

/* Стиль кнопки и анимация к ней */


.button{
    display: block;

    width: max-content;
    padding: 9px 44px;

    color: var(--text-color);
    @include font($font_gilroy, 18px, 24px);
    text-transform: uppercase;

    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, transparent),color-stop(40%, var(--yellow-color)), color-stop(60%, var(--yellow-color)), color-stop(60%, transparent), to(transparent));
    background-image: -o-linear-gradient(transparent 0%, transparent 40%, var(--yellow-color) 40%, var(--yellow-color) 60%, transparent 60%, transparent 100%);
    background-image: linear-gradient(transparent 0%, transparent 40%, var(--yellow-color) 40%, var(--yellow-color) 60%, transparent 60%, transparent 100%);
    background-color: transparent;    

    outline: none;
    border: none;
}

.button:hover,
.button:focus{
    animation-name: ButtonBG;
    animation-duration: 150ms;
    animation-fill-mode: both;
}





h2{
    margin: 0;

    margin-bottom: 30px;
    font-size: 47px;
    line-height: 56px;

    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 1);
}

.headline3{
    font-size: 18px;
    line-height: 24px;

    color: rgba(0, 0, 0, 1);
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    text-transform: uppercase;

    font-weight: 700;
    letter-spacing: 3.5px;
}


title{
    color: #595959;
    font-family: "Open Sans light", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    
    border: none;
    background-color: #e2e2e2;
}



/* /Meta styles */