
* {
    &:before,
    &:after {
        box-sizing: inherit;
    }
}


html {
    box-sizing: border-box;
}

.content-box-component {
    box-sizing: content-box;
}

body {
    margin: 0;
    padding-top: 40px;

    @include font;
    font-family: $font_open-sans;
    color: #595959;
}

html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1 0 auto;
  }
  .main-footer {
    flex-shrink: 0;
  }

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}


.container{
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.js-show{
    display: block !important;
}
.hidden{
    display: none !important;
}

/* Стиль кнопки и анимация к ней */


.button{
    display: block;

    width: max-content;
    padding: 9px 44px;

    color: var(--text-color);
    @include font(18px, 24px);
    font-family: $font_gilroy;
    text-transform: uppercase;
    letter-spacing: 3.5px;

    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, transparent),color-stop(40%, var(--yellow-color)), color-stop(60%, var(--yellow-color)), color-stop(60%, transparent), to(transparent));
    background-image: -o-linear-gradient(transparent 0%, transparent 40%, var(--yellow-color) 40%, var(--yellow-color) 60%, transparent 60%, transparent 100%);
    background-image: linear-gradient(transparent 0%, transparent 40%, var(--yellow-color) 40%, var(--yellow-color) 60%, transparent 60%, transparent 100%);
    background-color: transparent;    

    outline: none;
    border: none;
    cursor: pointer;
}

.button:hover,
.button:focus{
    animation: {
        name: ButtonBG;
        duration: 150ms;
        fill-mode: both;
    };
}

h2 {
    margin: 0;
    margin-bottom: 30px;

    color: var(--text-color);
    @include font(47px, 30px);
    font-family: $font_gilroy;
}

h3 {
    color: var(--text-color);
    @include font(18px, 24px);
    font-family: $font_gilroy;
    text-transform: uppercase;
    letter-spacing: 3.5px;
}


title{
    color: #595959;
    @include font(16px, 24px);
    font-family: $font_open-sans;
    
    border: none;
    background-color: #e2e2e2;
}

.js-modal-animation{
    animation: {
        name: bounce;
        duration: .4s;
    };
}



/* /Meta styles */