/* Header */

.main-header {
    position: relative;
    margin-bottom: 481px;
    padding: {
        top: 34px;
        right: 60px;
        bottom: 53px;
        left: 60px;
    };
    min-height: 300px;
   
    background-color: rgba(240, 197, 46, 0.5);

}

.item-header{
    margin-bottom: 45px;
}

.header-coloumn{
    width: 500px;
}

.catalog-header {
    margin-bottom: 45px;
}

.header-logo {
    display: block;
    position: absolute;
    top: -20px;
    outline: 0;

    &:focus,
    &:hover {
        opacity: var(--_6_opacity);
    }
    &:active {
        opacity: var(--_3_opacity);
    }
}

.user-navigation {
    margin-bottom: 30px;
    height: 50px;
    
    @include df-sb;
    align-items: center;
}

.search-form {
    position: relative;
    min-width: 440px;
}

.search-icon {
    position: absolute;

    top: 50%;
    left: 2px;
    margin-top: -8px;
}

.search-field {
    box-sizing: border-box;
    width: 350px;
    height: 50px;

    color: var(--text-color);
    font-size: 15px;
    line-height: 30px;
    padding: {
        top: 8px;
        bottom: 8px;
        left: 40px;
    };

    background: transparent;

    border: none;
    outline: none;
}

.search-field {
    &:focus {
        border-bottom: 2px solid var(--text-color);
        padding-bottom: 6px;

        &::placeholder {
            color: var(--text-color);
        }
        
        &:hover {
            &::placeholder {
                opacity: 0.6;
            }
        }
    }

    &::placeholder {
        color: var(--text-color);
        opacity: 0.3;
        &:hover {
            opacity: 0.6;
        }
    }
}

.form-button {
    border: 2px solid var(--text-color);
    box-sizing: border-box;
    background-color: transparent;

    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    line-height: 30px;

    padding: 8px 20px;

    cursor: pointer;

    outline: 0;
    opacity: 0;


    &:hover {
        cursor: unset;
    }

    &:focus {
        background-color: var(--text-color);
        color: #ffffff;
        opacity: 1;
    }

    &:active {
        color: rgba(255, 255, 255, 0.3);
        opacity: 1;
    }
}


.search-field:focus + .form-button,
.search-field + .form-button:active{
    opacity: 1; /* Появление кнопки при фокусе формы поиска. */
}
.search-field:focus + .form-button:hover{
    cursor: pointer;
    background-color: var(--text-color);
    color: #ffffff;
}



.user-links{
    display: flex;
    outline: none;
}

.login-wrap {
    margin: 0;
    margin-right: 10px;
    width: 264px;

    display: flex;
}

.login-user {
    margin-right: 20px;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        opacity: 1 !important;
    }
}

.logout-user {
    font-weight: 100;
    color: rgba(0, 0, 0, 0.3);
}

.user-link {
    position: relative;
    display: inline-block;

    height: max-content;
    padding-left: 28px;

    color: var(--text-color);
    font-weight: 100;
    
    outline: none;

    &:hover,
    &:focus {
        opacity: var(--_6_opacity);
    }

    &:active {
        opacity: var(--_3_opacity);
    }

    & + .user-link {
        margin-left: 40px;
    }

    svg {
        position: absolute;
        top: 50%;
        left: 0;
    }
}

.login-icon {
    margin-top: -6px;
}
.compare-icon {
    margin-top: -5px;
}
.cart-icon {
    margin-top: -6px;
}



.main-nav {
    
}

.main-nav-list {
    position: relative;
    width: 100%;

    @include df-sb;
    @include clean_ul;
}

.main-nav-item {
    display: flex;
    align-items: center;
}

.main-nav-item-list{
    @include df-sb;
    @include clean_ul;

    .main-nav-item {
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
            margin-left: auto;
        }
    }
}

.main-nav-link{
    color: var(--text-color);

    @include font(18px, 24px);
    font-family: $font_gilroy;
    text-transform: uppercase;
    letter-spacing: 3.5px;

    outline: none;

    &:hover,
    &:focus {
        opacity: var(--_6_opacity);
    }
    &:active {
        opacity: var(--_3_opacity);
    }
}

.catalog-link {
    margin-left: 0 !important;
    margin-right: 32px !important;

    position: relative;

    &:after {
        position: absolute;
        content: "";
    
        bottom: 5px;
        right: -30px;
        margin-top: -8px;
    
        background-image: url(../img/Header/plus.svg);
        opacity: var(--_3_opacity);
    
        width: 16px;
        height: 16px;
    }
}



.header-catalog-navigation {
    position: absolute;
    top: 20px;
    left: -60px;

    width: 1160px;
    height: 165px;
    padding: {
        top: 26px;
        right: 60px;
        bottom: 31px;
        left: 60px;
    };
    z-index: 2;
    display: none;
    background-color: #f7e296;

    &:hover,
    &:focus {
        display: block;
    }
}

.catalog-link:hover + .header-catalog-navigation,
.catalog-link:focus + .header-catalog-navigation{
    display: block;
}


.header-catalog-list {
    @include clean_ul;

    width: 600px;
    height: 108px;

    color: var(--text-color);
    @include font(15px, 36px, 300);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;

    a {
        color: var(--text-color);
        outline: none;
    }
}

.header-catalog-item {
    &:hover {
        opacity: var(--_6_opacity);
    }
    &:active {
        opacity: var(--_3_opacity);
    }
    a {
        &:focus {
            opacity: var(--_6_opacity);
        }
    }
}
.header-catalog-item:nth-child(5) {
    margin-bottom: 5px;
}
/* End Header */