/* Header */

.main-header {
    position: relative;
    margin-bottom: 481px;
    padding: {
        top: 34px;
        right: 60px;
        bottom: 53px;
        left: 60px;
    };
    min-height: 215px;
   
    background-color: rgba(240, 197, 46, 0.5);

}

.item-header{
    margin-bottom: 45px;
}

.main-header__coloumn{
    width: 500px;
}

.catalog-header {
    margin-bottom: 45px;
}

.main-header__logo {
    display: block;
    position: absolute;
    top: -20px;
    outline: 0;

    &:focus,
    &:hover {
        opacity: var(--_6_opacity);
    }
    &:active {
        opacity: var(--_3_opacity);
    }
}

.main-header__user-nav {
    margin-bottom: 30px;
    height: 50px;
    
    @include df-sb;
    align-items: center;
}

.search-form {
    display: flex;
    position: relative;
    min-width: 440px;

    svg {
        position: absolute;

        top: 50%;
        left: 2px;
        transform: translateY(-50%);
    }
}

.search-form__field {
    box-sizing: border-box;
    width: 350px;
    height: 50px;

    color: var(--text-color);
    font-size: 15px;
    line-height: 30px;
    padding: {
        top: 8px;
        bottom: 8px;
        left: 40px;
    };

    background: transparent;

    border: none;
    outline: none;

    &:focus {
        border-bottom: 2px solid var(--text-color);
        padding-bottom: 6px;

        &::placeholder {
            color: var(--text-color);
        }
        
        &:hover {
            &::placeholder {
                opacity: 0.6;
            }
        }
    }

    &::placeholder {
        color: var(--text-color);
        opacity: 0.3;
        &:hover {
            opacity: 0.6;
        }
    }
}

.search-form__btn {
    display: block;

    border: 2px solid var(--text-color);
    box-sizing: border-box;
    background-color: transparent;

    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    line-height: 30px;

    padding: 8px 20px;

    cursor: pointer;

    outline: 0;
    opacity: 0;


    &:hover {
        cursor: unset;
    }

    &:focus {
        background-color: var(--text-color);
        color: #ffffff;
        opacity: 1;
    }

    &:active {
        color: rgba(255, 255, 255, 0.3);
        opacity: 1;
    }
}


.search-form__field:focus + .search-form__btn,
.search-form__field + .search-form__btn:active{
    opacity: 1; /* Появление кнопки при фокусе формы поиска. */
}
.search-form__field:focus + .search-form__btn:hover{
    cursor: pointer;
    background-color: var(--text-color);
    color: #ffffff;
}



.user-links{
    display: flex;
    outline: none;
}

.user-links__login-wrap {
    margin: 0;
    margin-right: 10px;
    width: 264px;

    display: flex;
}

.login-user {
    margin-right: 20px;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        opacity: 1 !important;
    }
}

.user-links__logout {
    font-weight: 100;
    color: rgba(0, 0, 0, 0.3);
}

.user-links__link {
    position: relative;
    display: inline-block;

    height: max-content;
    padding-left: 28px;

    color: var(--text-color);
    font-weight: 100;
    
    outline: none;

    &:hover,
    &:focus {
        opacity: var(--_6_opacity);
    }

    &:active {
        opacity: var(--_3_opacity);
    }

    & + .user-links__link {
        margin-left: 40px;
    }

    svg {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}


.main-header__nav {
    position: relative;
}
.main-nav__list {
    width: 100%;
    @include df-sb;
    @include clean_ul;
}

.main-nav__item {
    display: flex;
    align-items: center;
}

.main-nav__items-list{
    @include df-sb;
    @include clean_ul;

    .main-nav-item {
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
            margin-left: auto;
        }
    }
}

.main-nav__link{
    color: var(--text-color);

    @include font(18px, 24px);
    font-family: $font_gilroy;
    text-transform: uppercase;
    letter-spacing: 3.5px;

    outline: none;

    &:hover,
    &:focus {
        opacity: var(--_6_opacity);
    }
    &:active {
        opacity: var(--_3_opacity);
    }

    &--catalog {
        margin-left: 0 !important;
        margin-right: 32px !important;
    
        position: relative;
    
        &:after {
            position: absolute;
            content: "";
        
            bottom: 5px;
            right: -30px;
        
            background-image: url(../img/Header/plus.svg);
            opacity: var(--_3_opacity);
        
            width: 16px;
            height: 16px;
        }
    }
}


.main-nav__inner-wrap {
    position: absolute;
    top: 20px;
    left: -60px;
    z-index: 2;
    background-color: #f7e296;

    width: 1200px;
    height: 168px;

    display: none;
}
.main-nav__inner-list {
    @include clean_ul;

    width: 600px;
    height: 108px;
    padding: {
        top: 26px;
        right: 60px;
        bottom: 31px;
        left: 60px;
    };

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;

    color: var(--text-color);
    @include font(15px, 36px, 300);


    background-color: #f7e296;

    a {
        color: var(--text-color);
        outline: none;
    }
}

.main-nav__link--catalog:hover + .main-nav__inner-wrap,
.main-nav__link--catalog:focus + .main-nav__inner-wrap{
    display: block;
}
.main-nav__inner-wrap:hover,
.main-nav__inner-wrap:focus{
    display: block;
}

.main-nav__inner-item {
    &:hover {
        opacity: var(--_6_opacity);
    }
    &:active {
        opacity: var(--_3_opacity);
    }
    a {
        &:focus {
            opacity: var(--_6_opacity);
        }
    }
    &:nth-child(5) {
        margin-bottom: 5px;
    }
}
/* End Header */