/* Index pgae styles */

/* ---------------------
        Slider 
--------------------- */

.goods-slider{
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translateX(-50%);
}

.slider-list{
    margin: 0;
    padding: 0 60px;
    list-style: none;
}

.slider-item{
    @include df-sb;
}

.first-item,
.second-item,
.third-item {
    position: relative;
    z-index: 1;

    &::after {
        position: absolute;

        font-family: $font_gilroy; 
        color: #ffffff;
        @include font(179.2px, 1);
    
        top: -13px;
        right: 0;
    
        width: 170px;
        height: 179.2px;
        z-index: -1;
    }
}

.first-item {
    &::after {
        content: "01";
    }
}

.second-item {
    &::after {
        content: "02";
        width: 200px;
    }
}

.third-item {
    &::after {
        content: "03";
        right: 25px;
    }
}

.slider-coloumn-img{
    width: 455px;
}

.slider-coloumn{
    width: 500px;
}

.slider-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__description {
    position: relative;

    &::after{
        position: absolute;

        content: "";
    
        width: 100px;
        height: 7px;
    
        background-color: #ffffff;
    
        top: 33px;
        left: 0;
    }

    .button {
        margin-bottom: 60px;
    }
}


.slider__desctiption-losung{
    margin: {
        top: 79px;
        bottom: 12px;
    };
    color: var(--text-color);
    @include font(47px, 56px);
    font-family: $font_gilroy;
    
}

.slider__desctiption-text{
    margin: 0;
    margin-bottom: 45px;
}

.featuries-list{
    border-collapse: collapse;
    box-sizing: border-box;
}

.featuries-item th{
    width: max-content;

    color: #464646;
    @include font(13px, 20px, 100);
}

.featuries-item td{
    width: max-content;
    padding-bottom: 10px;

    color: var(--text-color);
    @include font(36px, 48px, 100);
}


.item-element-padding{
    padding-left: 80px;

    &:first-child {
        padding-left: 0;
    }
}



.slider-control{
    position: absolute;
    z-index: 5;

    right: 5%;
    top: 70%;

    @include df-sb;
    width: 80px;
}

.slider-switch{
    position: relative;
    width: max-content;
}


.slider-switch::after{
    position: absolute;
    content: "";

    top: 0;
    left: 0;

    width: 12px;
    height: 12px;

    background: {
        image: url(/img/MainContent/Sliders/slider-button-empty.svg);
        size: cover;
        repeat: no-repeat;
    };
}


.slider-switch::before{
    position: absolute;
    content: "";

    top: 0;
    left: 0;

    width: 12px;
    height: 12px;

    background-image: url(/img/MainContent/Sliders/slider-button.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}


.slider-input:checked + .slider-switch::before{
    display: block;
}
.slider-input:checked + .slider-switch::after{
    display: none;
}

/* ---------------------
        end Slider 
--------------------- */













/* ---------------------
    Popular goods
--------------------- */

.popular{
    position: relative;
    margin: {
        bottom: 80px;
    };
    
}


.popular-list{
    @include clean_ul;
    
    width: 100%;
    display: grid;
    
    grid-template-columns: repeat(6, 1fr);
}

.popular-item{
    width: max-content;
}

.popular-block{
    outline: none;

    &:focus {
        .popular-img {
            background-color: var(--yellow-color);
        }
    }
    &:active {
        .popular-img {
            background-color: var(--yellow-color);
        }
        .popular-img svg,
        .popular-text {
            opacity: var(--_3_opacity);
        }
    }
}

.popular-img{
    display: grid;
    place-items: center;

    width: 160px;
    height: 160px;
    background-color: #f7e296;

    margin-bottom: 35px;

    &:hover {
        background-color: var(--yellow-color);
    }
}

.popular-text{
    margin: 0;

    color: var(--text-color);
    font-family: $font_gilroy;
    @include font(18px, 24px);
}

.service{
    position: relative;

    &::after {
        position: absolute;
        left: 0;
        top: 100px;

        content: "";

        height: 290px;
        width: 100%;

        background-color: #e5e5e5;
    
        z-index: -1;
    }

    .container {
        display: flex;
        align-items: center;
        margin-bottom: 160px;
    }
}


.sevrice-form{
    margin: 0;
    padding: 0;
    border: none;
}

.service-list{
    
    box-sizing: border-box;
    @include clean_ul;

    height: 320px;
    width: 285px;

    border-right: 7px solid var(--text-color);
    padding-top: 80px;
}

.service-item{
    margin-bottom: 25px;

    .button{
        width: 160px;
        padding: 8px 0;
        text-align: center;

        &:active {
            width: 280px !important;
            padding: {
                top: 8px;
                right: 118px;
                bottom: 8px;
                left: 0px;
            }
            color:#f7e184;

            background-image: linear-gradient(var(--text-color) 0%, var(--text-color) 100%);

            animation: {
                name: ButtonBG-black;
                duration: 100ms;
                fill-mode: both;
            }
        }
    }    
}


.service-checked{
    display: block;
    padding: {
        top: 8px !important;
        right: 118px !important;
        bottom: 8px !important;
        left: 0px !important;
    };

    color:rgba(247,225,132, 1);

    background-image: linear-gradient(var(--text-color) 0%, var(--text-color) 100%);

    width: 280px !important;

    &:hover,
    &:focus {
        color:rgba(247,225,132,0.6);
        background-image: linear-gradient(var(--text-color) 0%, var(--text-color) 100%);
        animation: none;
    }
    &:active {
        color:rgba(247,225,132,0.3);
        animation: none !important;
    }
}

.sevrice-description-list{
    @include clean_ul;

    margin-top: 15px;
    margin-left: 115px;
}

.serv-descrtion-item{
    width: 700px;
    height: 200px;

    background: {
        size: initial;
        repeat: no-repeat;
        position: center right;
    };

    p {
        margin: 0;
    }
}
.delivery-description{
    background-image: url(../img/MainContent/Services/delivery.svg);
}
.warranty-description{
    background-image: url(../img/MainContent/Services/warranty.svg);
}
.credit-description{
    background-image: url(../img/MainContent/Services/credit.svg);
}




.logotypes{
    margin-bottom: 150px;
}

.logotypes-list{
    @include clean_ul;
    display: flex;
    justify-content: space-around;
}

.logotypes-item {
    img {
        filter: grayscale(100%);
        opacity: .2;
    }
    
    &:hover,
    &:focus {
            img {
                filter: none;
                opacity: 1;
            }
    }
}


.information{
    @include df-sb;
    margin-bottom: 80px;
}




.about-us{
    width: 500px;
}
.about-us p{
    margin: 0;
    margin-bottom: 35px;
}
.about-us p:nth-child(3){
    margin-bottom: 64px;
}

.about-transport{
    list-style: none;
    padding: 0;
    padding-left: 35px;
    margin: 0;

    font-family: "Gilroy Extra Bold", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: var(--text-color);

    font-size: 16px;
    line-height: 40px;

    margin-bottom: 65px;
}

.about-transort-item{
    position: relative;
}


.about-transort-item::after{
    position: absolute;

    content: "";
    top: 15px;
    left: -35px;

    width: 8px;
    height: 8px;

    border: #e5e5e5 2px solid;
    border-radius: 4px;
}

.about-us .button{
    width: 260px;
    padding: 10px 21px;
}

.headline-decoration{
    position: relative;
}

.headline-decoration::after{
    position: absolute;

    content: "";
    top: -50px;
    left: 0;

    width: 80px;
    height: 7px;

    background-color: var(--text-color);
}






.contacts{
    width: 560px;
}

.contacts p{
    margin: 0;
    margin-bottom: 45px;
}

.map_link{
    display: block;
    height: 222px;
    width: auto;
    margin-bottom: 80px;

    outline: none;
}

.map_link:focus,
.map_link:hover{
    transition: .2s;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.3);
}