$font_open-sans: "Open Sans light", sans-serif;
$font_gilroy: "Gilroy", sans-serif;

//- css variables

:root {
    --text-color: rgba(0, 0, 0, 1);
    --yellow-color: #f0c52e;
    --_3_opacity: 0.3;
    --_6_opacity: 0.6;
}


//- end css variables