<!DOCTYPE html>
html(lang="ru")
    head
        include modules/_meta
        title Document
    body.inner-page
        include modules/_header

        main.content
            .container
                header.inner-navigation
                    h2 Моноподы для селфи
                    ul.bread-crumbs
                        li.bread-crumbs__item
                            a.bread-crumbs__link(href="index.html")
                                | Главная
                        li.bread-crumbs__item
                            a.bread-crumbs__link(href="")
                                | Каталог товаров
                        li.bread-crumbs__item
                            a.bread-crumbs__link(href="")
                                | Моноподы для селфи
            section.main-content
                .container
                    section.filter
                        h3.filter__title Фильтр:
                        form(action="" method="GET")
                            .filter__cost-wrap
                                label.filter__caption(for="filter-cost") Стоимость
                                input#filter__cost(name="filter-cost" disabled="" type="range" min="0" max="9000" value="5000")
                                table.cost-range
                                    tr
                                        td От 0
                                        td.cost-range__range-to До 5000
                            fieldset.filter__colors-wrap
                                h4.filter__caption Цвет
                                ul.filter__colors
                                    li.filter__color
                                        input#color-black(type="checkbox" name="color-black")
                                        label.filter__checkbox(for="color-black") Черный
                                    li.filter__color
                                        input#color-white(type="checkbox" name="color-white")
                                        label.filter__checkbox(for="color-white")
                                            | Белый
                                    li.filter__color
                                        input#color-blue(type="checkbox" name="color-blue")
                                        label.filter__checkbox(for="color-blue")
                                            | Синий
                                    li.filter__color
                                        input#color-red(type="checkbox" name="color-redr")
                                        label.filter__checkbox(for="color-red")
                                            | Красный
                                    li.filter__color
                                        input#color-pink(type="checkbox" name="color-pink")
                                        label.filter__checkbox(for="color-pink")
                                            | Розовый
                            fieldset.filter__bluetooth-wrap
                                h4.filter__caption Bluetooth
                                ul.filter__bluetooth-list
                                    li.filter__bluetooth-item
                                        input#bluetooth-yes(type="radio" checked="" name="bluetooth")
                                        label.filter__radio(for="bluetooth-yes")
                                            | Есть
                                    li.filter__bluetooth-item
                                        input#bluetooth-no(type="radio" name="bluetooth")
                                        label.filter__radio(for="bluetooth-no")
                                            | Нет
                            input.button(type="submit")
                    section.catalog
                        section.sorting
                            h3.sorting__title Сортировка:
                            ul.sorting__list
                                li.sorting__item
                                    a.sorting__link.-current(href="#")
                                        | По цене
                                li.sorting__item
                                    a.sorting__link(href="#")
                                        | По типу
                                li.sorting__item
                                    a.sorting__link(href="#")
                                        | По популярности
                                ul.sorting__methods
                                    li.sorting__method
                                        a.sorting__method-link.-asc(href="")
                                            span.visually-hidden По возрастанию
                                    li.sorting__method
                                        a.sorting__method-link.-dsc.-current(href="")
                                            span.visually-hidden По убыванию

                        h2.visually-hidden Каталог
                        .catalog__wrap
                            ul.catalog__list
                                li.catalog__item
                                    .catalog__img-wrap
                                        img(src="img/MainContent/Items/Item-1.jpg" alt="")
                                    .catalog__buy-block
                                        button.button В корзину
                                        a(href="#") Добавить к сравнению
                                    table.catalog__description
                                        tr
                                            th.catalog__name
                                                | Любительская селфи-палка
                                            td.catalog__cost 500 руб.
                                li.catalog__item
                                    .catalog__img-wrap
                                        img(src="img/MainContent/Items/Item-2.jpg" alt="")
                                    .catalog__buy-block
                                        button.button В корзину
                                        a(href="#") Добавить к сравнению
                                    table.catalog__description
                                        tr
                                            th.catalog__name
                                                | Профессиональная селфи-палка
                                            td.catalog__cost 1 500 руб.
                                li.catalog__item
                                    .catalog__img-wrap
                                        img(src="img/MainContent/Items/Item-3.jpg" alt="")
                                    .catalog__buy-block
                                        button.button В корзину
                                        a(href="#") Добавить к сравнению
                                    table.catalog__description
                                        tr
                                            th.catalog__name
                                                | Непотопляемая селфи-палка
                                            td.catalog__cost 2 500 руб.
                                li.catalog__item.-new
                                    .catalog__img-wrap
                                        img(src="img/MainContent/Items/Item-4.jpg" alt="")
                                    .catalog__buy-block
                                        button.button В корзину
                                        a(href="#") Добавить к сравнению
                                    table.catalog__description
                                        tr
                                            th.catalog__name
                                                | Селфи-палка «Следуй за мной»
                                            td.catalog__cost 4 900 руб.
                            nav.catalog__nav
                                a.catalog__nav-btn(href="#") Назад
                                ul.catalog__nav-list
                                    li.catalog__nav-item
                                        a.catalog__page-link.-current(href="#")
                                            | 1
                                    li.catalog__nav-item
                                        a.catalog__page-link(href="#")
                                            | 2
                                    li.catalog__nav-item
                                        a.catalog__page-link(href="#")
                                            | 3
                                a.catalog__nav-btn(href="#") Вперед


        include modules/_footer
        include modules/_scripts