<!DOCTYPE html>
html(lang="ru")
    head
        include modules/_meta
        title Document
    body.inner-page
        include modules/_header

        main.content
            .container
                header.item-navigation
                    h2 Моноподы для селфи
                    ul.bread-crumbs
                        li.crumb-item
                            a.crumb(href="index.html")
                                | Главная
                        li.crumb-item
                            a.crumb(href="")
                                | Каталог товаров
                        li.crumb-item
                            a.crumb(href="")
                                | Моноподы для селфи
            section.main-content
                .container
                    section.filter
                        h3.headline3 Фильтр:
                        form(action="" method="GET")
                            .filter-cost-wrap
                                label.filter-headline(for="filter-cost") Стоимость
                                input#filter-cost(name="filter-cost" disabled="" type="range" min="0" max="9000" value="5000")
                                table.cost-range
                                    tr
                                        td От 0
                                        td.range-to До 5000
                            fieldset.filter-colors
                                p.filter-headline Цвет
                                ul.filter-colors-list
                                    li.colors-item
                                        input#color-black(type="checkbox" name="checkbox-color")
                                        label.colors-checkbox(for="color-black") Черный
                                    li.colors-item
                                        input#color-white(type="checkbox" name="checkbox-color")
                                        label.colors-checkbox(for="color-white")
                                            | Белый
                                    li.colors-item
                                        input#color-blue(type="checkbox" name="checkbox-color")
                                        label.colors-checkbox(for="color-blue")
                                            | Синий
                                    li.colors-item
                                        input#color-red(type="checkbox" name="checkbox-color")
                                        label.colors-checkbox(for="color-red")
                                            | Красный
                                    li.colors-item
                                        input#color-pink(type="checkbox" name="checkbox-color")
                                        label.colors-checkbox(for="color-pink")
                                            | Розовый
                            fieldset.bluetooth-choose
                                p.filter-headline Bluetooth
                                ul.bluetooth-list
                                    li.bluetooth-item
                                        input#bluetooth-yes(type="radio" checked="" name="bluetooth")
                                        label.bluetooth-radio(for="bluetooth-yes")
                                            | Есть
                                    li.bluetooth-item
                                        input#bluetooth-no(type="radio" name="bluetooth")
                                        label.bluetooth-radio(for="bluetooth-no")
                                            | Нет
                            input.button(type="submit")
                    section.catalog
                        section.catalog-sort
                            h3.headline3 Сортировка:
                            ul.sort-list
                                li.sort-item
                                    a.sort-link.current-link(href="")
                                        | По цене
                                li.sort-item
                                    a.sort-link(href="")
                                        | По типу
                                li.sort-item
                                    a.sort-link(href="")
                                        | По популярности
                                ul.sort-method
                                    li.method-item
                                        a.ascending-link(href="")
                                            span.visually-hidden По возрастанию
                                    li.method-item
                                        a.descending-link.current-method(href="")
                                            span.visually-hidden По убыванию
                        section.main-catalog
                            h2.visually-hidden Каталог
                            section.catalog-items
                                ul.catalog-items-list
                                    li.catalog-item
                                        .catalog-img
                                            img(src="img/MainContent/Items/Item-1.jpg" alt="")
                                        .item-buy
                                            button.button В корзину
                                            a(href="#") Добавить к сравнению
                                        table.item-descritpion
                                            tr
                                                th.item-name
                                                    | Любительская селфи-палка
                                                td.item-cost 500 руб.
                                    li.catalog-item
                                        .catalog-img
                                            img(src="img/MainContent/Items/Item-2.jpg" alt="")
                                        .item-buy
                                            button.button В корзину
                                            a(href="#") Добавить к сравнению
                                        table.item-descritpion
                                            tr
                                                th.item-name
                                                    | Профессиональная селфи-палка
                                                td.item-cost 1 500 руб.
                                    li.catalog-item
                                        .catalog-img
                                            img(src="img/MainContent/Items/Item-3.jpg" alt="")
                                        .item-buy
                                            button.button В корзину
                                            a(href="#") Добавить к сравнению
                                        table.item-descritpion
                                            tr
                                                th.item-name
                                                    | Непотопляемая селфи-палка
                                                td.item-cost 2 500 руб.
                                    li.catalog-item.new-item
                                        .catalog-img
                                            img(src="img/MainContent/Items/Item-4.jpg" alt="")
                                        .item-buy
                                            button.button В корзину
                                            a(href="#") Добавить к сравнению
                                        table.item-descritpion
                                            tr
                                                th.item-name
                                                    | Селфи-палка «Следуй за мной»
                                                td.item-cost 4 900 руб.
                            nav.catalog-navigation
                                a.catalog-navigation__button(href="#") Назад
                                ul.pages-list
                                    li.pages-item
                                        a.pages-link.current-page-link(href="#")
                                            | 1
                                    li.pages-item
                                        a.pages-link(href="#")
                                            | 2
                                    li.pages-item
                                        a.pages-link(href="#")
                                            | 3
                                a.catalog-navigation__button(href="#") Вперед


        include modules/_footer
        include modules/_scripts