<!DOCTYPE html>
html(lang="en")
    head
        include modules/_meta
    body
        include modules/_header

        section.goods-slider
            .container
                h2.visually-hidden Слайдер
                ul.goods-slider__list
                    li.goods-slider__item.goods-slider__item--1
                        .goods-slider__img.goods-slider__left-column
                            img(src="img/MainContent/Sliders/slider-1.png" alt="Селфи-палка")
                        section.goods-slider__info.goods-slider__right-column
                            h2.goods-slider__title
                                | Делай селфи,
                                br
                                | как Бен Стиллер!
                            p.goods-slider__description
                                | Самая длинная палка для селфи доступна в нашем магазине.
                                br
                                | Восемь (Восемь, Карл!) метров длиной и весом всего 5 килограмм.
                            a.button(href="#") Подробнее
                            section.featuries
                                table.featuries__list
                                    tr.featuries__item
                                        td.featuries__cell 8,5 м
                                        td.featuries__cell 5 кг
                                        td.featuries__cell Карбон
                                    tr.featuries__item
                                        th.featuries__cell Длина палки
                                        th.featuries__cell Вес палки
                                        th.featuries__cell Материал
                    li.goods-slider__item.hidden.goods-slider__item--2
                        .goods-slider__img.goods-slider__left-column
                            img(src="img/MainContent/Sliders/slider-2.png" alt="Селфи-палка")
                        section.goods-slider__info.goods-slider__right-column
                            p.goods-slider__title
                                | Худеем
                                br
                                | правильно!
                            p.goods-slider__description
                                | Мотивирующие фитнес-браслеты помогут найти в себе силы
                                br
                                | не пропускать занятия и соблюдать диету.
                            a.button.slider__button(href="#") Подробнее
                            section.featuries
                                table.featuries__list
                                    tr.featuries__item
                                        td.featuries__cell 48 часов
                                    tr.featuries__item
                                        th.featuries__cell Без подзарядки
                    li.goods-slider__item.hidden.goods-slider__item--3
                        .goods-slider__img.goods-slider__left-column
                            img(src="img/MainContent/Sliders/slider-3.png" alt="Селфи-палка")
                        section.goods-slider__info.goods-slider__right-column
                            p.goods-slider__title
                                | Порхает как бабочка,
                                br
                                | жалит как пчела!
                            p.goods-slider__description
                                | Этот обычный, на первый взгляд, квадрокоптер оснащен
                                br
                                | мощным лазером, замаскированным под стандартную камеру.
                            a.button.slider__button(href="#") Подробнее
                            section.featuries
                                table.featuries__list
                                    tr.featuries__item
                                        td.featuries__cell 800 м
                                        td.featuries__cell 50 м
                                    tr.featuries__item
                                        th.featuries__cell Дальность полета
                                        th.featuries__cell Радиус поражения
                .slider-control
                    //
                        <button class="slider-switch" type="button" onclick="slide(1)"></button>
                        <button class="slider-switch" type="button" onclick="slide(2)"></button>
                        <button class="slider-switch" type="button" onclick="slide(3)"></button>

        .container
            section.popular
                ul.popular__list
                    li.popular__item
                        a.popular__link(href='#')
                            .popular__img
                                include img/svg/popular-1.svg
                            span.popular__link-text
                                | Виртуальная
                                br
                                | реальность
                    li.popular__item
                        a.popular__link(href='color.html')
                            .popular__img
                                include img/svg/popular-2.svg
                            span.popular__link-text
                                | Моноподы
                                br
                                | для селфи
                    li.popular__item
                        a.popular__link(href='#')
                            .popular__img
                                include img/svg/popular-3.svg
                            span.popular__link-text(href='#') Экшн-камеры
                    li.popular__item
                        a.popular__link(href='#')
                            .popular__img
                                include img/svg/popular-4.svg
                            span.popular__link-text(href='#') Фитнес-браслеты
                    li.popular__item
                        a.popular__link(href='#')
                            .popular__img
                                include img/svg/popular-5.svg
                            span.popular__link-text(href='#') Умные часы
                    li.popular__item
                        a.popular__link(href='#')
                            .popular__img
                                include img/svg/popular-6.svg
                            span.popular__link-text(href='#') Квадрокоптеры

        section.service
            .container
                ul.service__list
                    li.service__item
                        button.button.service__checked Доставка
                    li.service__item
                        button.button Гарантия
                    li.service__item
                        button.button Кредит
                ul.sevrice__descriptions
                    li.sevrice__description.-one
                        h2 Доставка
                        p
                            | Мы с удовольствием доставим ваш товар прямо к вашему
                            br
                            | подъезду совершенно бесплатно! Ведь мы неплохо
                            br
                            | заработаем, поднимая его на ваш этаж.
                    li.sevrice__description.-two.hidden
                        h2 Гарантия
                        p
                            | Если из-за возгорания купленного у нас товара у вас сгорит
                            br
                            | дом — не переживайте, мы выдадим вам новый.
                            br
                            | Товар, не дом, конечно же.
                    li.sevrice__description.-three.hidden
                        h2 Кредит
                        p
                            | Залезть в долговую яму стало проще! Кредитные
                            br
                            | консультанты подберут для вас наиболее выгодные
                            br
                            | условия кредита. Выгодные для нашего банка, разумеется.

        section.logotypes.container
            ul.logotypes-list
                li.logotypes-item
                    a(href="#")
                        img(src="img/MainContent/Logotypes/Logo-1.png" alt="логотип dji")
                li.logotypes-item
                    a(href="#")
                        img(src="img/MainContent/Logotypes/Logo-2.png" alt="логотип SP Gangets")
                li.logotypes-item
                    a(href="#")
                        img(src="img/MainContent/Logotypes/Logo-3.png" alt="логотип GoPro")
                li.logotypes-item
                    a(href="#")
                        img(src="img/MainContent/Logotypes/Logo-4.png" alt="логотип VIVE")

        section.information.container
            section.about-us
                h2.headline-decoration О нас
                p
                    | Огромный выбор гаджетов не оставит равнодушным гика,
                    br
                    | который есть в каждом из нас.
                    br
                p
                    | Мы можем доставить ваш товар в самые отдаленные точки
                    br
                    | России! DEVICE работает со многими транспортными компаниями:
                    br
                ul.about-transport
                    li.about-transort-item
                        | Деловые Линии
                    li.about-transort-item
                        | Автотрейдинг
                    li.about-transort-item
                        | ЖелДорЭкспедиция
                a.button(href="about-us.html") Подробнее о нас
            section.contacts
                h2.headline-decoration Контакты
                p
                    | Вы можете забрать товар сами, заехав в наш офис. Заодно, вы сможете
                    br
                    | проверить работоспособность покупки. Всякое бывает.
                    br
                a.map_link(href="#")
                    img.map(src="img/MainContent/Map.jpg" alt="Наш адрес: Улица Строителей, 15")
                a.button.js-write-us__button(href="write-us.html") Напишите нам

        include modules/_footer

        section.write-us.visually-hidden
            form(action="#" method="GET")
                .name-and-email-wrap
                    p.write-us-item
                        label.write-us-label(for="name-and-family") Ваше имя
                        input#name-and-family(type="text" placeholder="Имя Фамилия" name="name-and-family")
                    p.write-us-item
                        label.write-us-label(for="e-mail-input") Ваш e-mail
                        input#e-mail-input(type="email" placeholder="E-mail" name="e-mail-input")
                .write-us-letter
                    label.write-us-label(for="write-us-textarea") Текст письма
                    textarea#write-us-textarea.write-us-textarea(placeholder="В свободной форме" type="")
                input.button(type="submit")
            button.close-window
                svg#Layer_1(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="55px" viewbox="0 0 55 55" enable-background="new 0 0 55 55" xml:space="preserve")
                    path(fill="#F0C52E" d="M27.5,0C12.312,0,0,12.312,0,27.5C0,42.688,12.312,55,27.5,55C42.688,55,55,42.688,55,27.5\
                    C55,12.312,42.688,0,27.5,0z M38.976,37.072l-1.486,1.426L27.5,28.924l-9.987,9.574l-1.488-1.426l9.988-9.573l-9.987-9.573\
                    l1.487-1.425l9.987,9.573l9.988-9.573l1.487,1.425L28.986,27.5L38.976,37.072z")
        
        section.big-map.visually-hidden
            button.close-window
                svg#Layer_1(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="55px" viewbox="0 0 55 55" enable-background="new 0 0 55 55" xml:space="preserve")
                    path(fill="#F0C52E" d="M27.5,0C12.312,0,0,12.312,0,27.5C0,42.688,12.312,55,27.5,55C42.688,55,55,42.688,55,27.5\
                    C55,12.312,42.688,0,27.5,0z M38.976,37.072l-1.486,1.426L27.5,28.924l-9.987,9.574l-1.488-1.426l9.988-9.573l-9.987-9.573\
                    l1.487-1.425l9.987,9.573l9.988-9.573l1.487,1.425L28.986,27.5L38.976,37.072z")
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1567.5649325148765!2d37.52836788321921!3d55.68695887356975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54cf65f5c8955%3A0x694710ccd55501e!2z0YPQuy4g0KHRgtGA0L7QuNGC0LXQu9C10LksIDE1LCDQnNC-0YHQutCy0LAsINCg0L7RgdGB0LjRjywgMTE5MzEx!5e0!3m2!1sru!2sro!4v1595572872455!5m2!1sru!2sro" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
            img(src="img/MainContent/map-big.jpg" alt="Наш адрес: г.Москва, ул.Строителей, 15")



        include modules/_scripts

